<%# code to enable express messages functionality %> <%- messages() %>

<form id="attendanceForm" class="form" action="/participant/attendance" method>
  <label for="nameList">choose an event</label>
  <select name="par_event" id="event" required>
    <option value="" selected disabled>select an event</option>
    <option value="makeup">skill-acquisition-makeup</option>
    <option value="digitalmarketing">skill-acquisition-digitalmarketing</option>
    <option value="graphicdesign">skill-acquisition-graphicdesign</option>
    <option value="courseone">institute-courseOne</option>
    <option value="coursetwo">institute-courseTwo</option>
    <option value="family-history-and-temple">family-history-and-temple</option>
  </select>

  <label for="nameInput">select your name</label>
  <input type="text" list="par_names" id="nameInput" required />
  <datalist id="par_names"></datalist>
</form>
<form
  id="registerParticipant"
  class="form"
  action="/participant/register"
  method="post"
>
  <label for="name">Full Name</label>
  <input type="text" id="name" name="par_name" required />
  <label for="number">Phone Number</label>
  <input type="tel" id="number" name="par_number" required />
  <label for="ward">Ward</label>
  <select name="par_ward" id="ward" required>
    <option value="" selected disabled>Select a Ward</option>
  </select>
  <label for="mrn">Membership Record Number</label>
  <input type="text" id="mrn" name="par_mrn" required />
  <label for="agegroup">Age Group</label>
  <select name="par_agegroup" id="agegroup" required>
    <option value="" selected disabled>select an age-group</option>
    <option value="18-24">18-24</option>
    <option value="25-30">25-30</option>
    <option value="31-35">31-35</option>
  </select>

  <button id="registerButton">Register</button>
</form>

<script src="../js/script.js"></script>
