* {
    margin: 0;
    padding: 0;
}

#header {
    height: 6rem;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    background-color: rgb(24, 24, 158);
    color: white;
    align-content: center;
}

#header>span {
    margin: 1rem auto;
}

#home,
#statistics {
    font-size: 1.3rem;
    position: absolute;
    top: 1rem;
    right: 3rem;
    width: fit-content;
    padding: 8px;
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
}

.notice {
    color: rgb(11, 18, 82);
    margin: 1.5rem auto 1rem;
    font-size: 1.7rem;
    font-weight: 600;
    font-style: italic;
    text-align: center;
}

#formContainer {
    display: grid;
    grid-template-columns: 35% 30% 30%;
    justify-content: space-evenly;
    padding-top: 1rem;
}

.green-form {
    margin: 1%;
    background-color: rgba(198, 226, 198, 0.959);
    border: 2px solid green;
    border-radius: 15px;
}


.navy-form {
    grid-row: 1 / 3;
    position: relative;
    margin: 1%;
    padding-bottom: 2rem;
    background-color: rgba(184, 194, 221, 0.959);
    border: 2px solid navy;
    border-radius: 15px;
}

label,
button {
    display: block;
}

#statusMessage {
    display: none;
    background-color: transparent;
    color: black;
    text-align: center;
    font-size: 1.2rem;
    margin: 1rem auto 0;
}

#statusMessage:hover {
    border: none;
}

#markAttendance,
#showAttendanceList,
#proceed_to_submit {
    font-size: 1.1rem;
    font-weight: 600;
    width: fit-content;
    margin: 1.5rem auto 0.5rem;
    padding: 8px;
    color: white;
    background-color: rgb(20, 20, 214);
    border-radius: 8px;
    transition: background-color 1s, color 1s;
}


#markAttendance:hover,
#showAttendanceList:hover,
#proceed_to_submit:hover {
    background-color: white;
    color: rgb(20, 20, 214);
    border: 2px solid rgb(20, 20, 214);
}

label {
    font-size: 1.2rem;
    text-align: left;
    margin-left: 10%;
    margin-top: 1rem;
}

input,
select {
    font-size: 1.2rem;
    width: 76%;
    margin: auto 11%;
    padding: 0.5rem 1%;
    border-radius: 5px;
}

#registerParticipant select {
    color: black;
}


.green-form>h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
    color: rgb(10, 87, 17);
}

.green-form>button {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 16px auto;
    padding: 8px;
    border-radius: 4px;
    background-color: rgb(10, 87, 17);
    color: white;
    transition: background-color 1s, color 1s;
}

.green-form>button:hover {
    background-color: white;
    color: rgb(10, 87, 17);
    border: 2px solid rgb(10, 87, 17);
}

.navy-form>h2 {
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
    color: navy;
}

.navy-form>button {
    font-size: 1.2rem;
    font-weight: 700;
    margin: 16px auto;
    padding: 8px;
    border-radius: 4px;
    background-color: navy;
    color: white;
    transition: background-color 1s, color 1s;
}

.navy-form>button:hover {
    background-color: white;
    color: navy;
    border: 2px solid navy;
}

#par_names,
#par_names_div,
#participantDisplay {
    font-size: 1.2rem;
    padding: 5px auto;
    text-align: center;
    background-color: white;
    width: 75%;
    margin: 0 auto;
}

#par_names p,
#par_names_div p,
#participantDisplay p {
    position: relative;
    border: 1px solid black;
}

#participantDisplay span {
    position: absolute;
    right: 0;
    font-size: 1.1rem;
    padding: 0 8px;
    color: white;
    background-color: rgb(168, 31, 21);
}

#par_names p:hover,
#par_names_div p:hover {
    background-color: rgb(162, 162, 226);
}

#showAttendanceCaution {
    font-size: 1.2rem;
    text-align: center;
}

#master_password_label,
#master_password {
    display: none;
}

#master_password_label.show,
#master_password.show {
    display: block;
}

#participantDisplay {
    margin-top: 1rem;
}

.confirmDelete {
    position: absolute;
    top: 40%;
    left: 5%;
    font-size: 1.3rem;
    text-align: center;
    padding: 20px auto;
    background-color: white;
    width: 90%;
    border: 2px solid navy;
}

.confirmDelete p {
    display: block;
    margin-bottom: 1rem;
}

.confirmDelete span {
    width: 30%;
    margin: 0 10%;
    padding: 5px;
    background-color: navy;
    color: white;
}

section h2 {
    font-size: 2rem;
    text-align: center;
    margin: 2rem auto;
}

.fieldset {
    display: grid;
    width: 80%;
    margin: 2rem auto;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    border: 0;
}

#analyticsDiv {
    width: 90%;
    margin: 0 auto;
}

#analyticsDiv p {
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-top: 2rem;
}

.attendanceTotalDiv {
    width: 100%;
    margin: 1rem auto;
}

#dataTable {
    margin: 0;
    width: 100%;
}

tr {
    display: flex;
    justify-content: space-around;
}

th,
td {
    flex-grow: 1;
    flex-basis: 0;
    flex-shrink: 0;
    flex-wrap: wrap;
    word-break: break-word;
    padding: 5px;
    text-align: center;
    border: 1px solid black;
}

#dataTable tr>th {
    background-color: rgba(135, 207, 235, 0.637);
    font-size: 1.1rem;
}

#dataTable tr>td:first-child {
    font-size: 1.1rem;
    font-weight: 600;
    background-color: royalblue;
    color: white;
}

#analyticsDiv .showGraphButton {
    font-size: 1.5rem;
    width: fit-content;
    padding: 8px;
    background-color: rgba(14, 33, 117, 0.637);
    border-radius: 8px;
    color: white;
    transition: color 1s, background-color 1s;
}

#analyticsDiv .showGraphButton:hover {
    background-color: white;
    color: rgba(14, 33, 117, 0.637);
    border: 2px solid rgba(14, 33, 117, 0.637);
}

.averageTable {
    margin: 2rem auto 0;
    width: 60%;
}

.averageTable td {
    padding: 8px;
}

.averageTable tr>td:first-child {
    font-size: 1.2rem;
    font-weight: 600;
    background-color: rgba(181, 209, 182, 0.568);
}

.averageTable tr:first-child>td {
    font-size: 1.3rem;
    font-weight: 600;
    background-color: darkgreen;
    color: white;
}

#myChart {
    margin: 0 auto;
}